# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.iml
*.lock

# Android
/android/app/src/debug/
/android/app/src/profile/
/android/app/src/release/
/android/app/build/
/android/build/
/android/gradle/
/android/local.properties
.android/
*.keystore
*.jks

# iOS
/ios/**/Pods/
/ios/**/.symlinks/
/ios/**/Flutter/Flutter.podspec
/ios/**/Flutter/flutter_export_environment.sh
/ios/**/Debug/
/ios/**/Profile/
/ios/**/Release/
/ios/**/Generated.xcconfig
/ios/**/Flutter/Generated.xcconfig
/ios/**/Flutter/app.flx
/ios/**/Flutter/app.zip
/ios/**/Flutter/flutter_assets/
/ios/**/Flutter/flutter_export_environment.sh
/ios/**/ServiceDefinitions.json
/ios/**/Runner.app/
/ios/**/Runner.xcodeproj/xcuserdata/
/ios/**/Runner.xcworkspace/xcuserdata/
/ios/.generated/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework/
/ios/Flutter/D